ul {
    list-style: none;
}

img {
    object-fit: cover;
}

.pet-form {
    width: 20rem;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.pet-details {
    display: flex;
    justify-content: center;
}

.column {
    margin: 1rem;
}

.column .one {
    float:left;
}

.column .two {
    float: right;
}