{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block header %}List of Pets{% endblock %}

{% block content %}
<ul>
    <h2>Available Pets</h2>
    {% for pet in pets %}
        {% if pet.available == True %}
        <li>
            <img src="{{pet.photo_url}}" width="100" height="100">
            <a href="/{{pet.id}}">{{pet.name}}</a>
            <b>Available</b>
        </li>
        {% endif %}
    {% endfor %}

    <h2>Unavailable Pets</h2>
    {% for pet in pets %}
        {% if pet.available == False %}
        <li>
            <img src="{{pet.photo_url}}" width="100" height="100">
            <a href="/{{pet.id}}">{{pet.name}}</a>
            <b>Unavailable</b>
        </li>
        {% endif %}
    {% endfor %}
</ul>
<a href="/add" class="btn btn-info">Add Pet</a>
{% endblock %}